@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    padding: 0;
    margin: 0;
 --font-primary: 'Plus Jakarta Sans', sans-serif;
  --font-heading: 'F37 Ginger', sans-serif; 
   --container-width: calc(100% - 4rem); 
    font-family: var(--font-primary);
} 


body {
  font-family: var(--font-primary);
}   

.container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
} 

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.font-heading {
  font-family: var(--font-heading);
} 


/* scroll bar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #dfdfdf00;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: #6b5ecc34;  */
    background: #f6f6f6;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6;
}

.ant-form-item {
    margin-bottom: 15px !important;
}

/* Custom Sidebar Styles */
.custom-sidebar-menu .ant-menu-item-selected {
    background-color: transparent !important;
    border: 1px solid #3bb77e !important;
    color: #3bb77e !important;
    font-weight: 600; 
     border-radius: 8px;
}

.custom-sidebar-menu .ant-menu-item {
    border: 1px solid transparent;
    margin-bottom: 8px !important;
    border-radius: 8px; /* Match rounded look */
}

/* Ensure links inside inherit color */
.custom-sidebar-menu .ant-menu-item-selected a {
    color: #3bb77e !important;
}
